image: docker

cache:
  paths:
    - .cache/pip
    - .platformio/.cache
  
stages:
  - build
  - release

variables:
   PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
   PLATFORMIO_CACHE_DIR: "$CI_PROJECT_DIR/.platformio/.cache"

build_job:
  stage: build
  image: registry.schackmann.me/docker-base-images/python-pio:pico-w
  before_script:
    - echo GE_JOB_ID=$CI_JOB_ID >> generate_executables.env
  script: 
    - "pio run"
    - "mv .pio/build/rpipicow/firmware.uf2 firmware.uf2"
  artifacts:
    when: on_success
    expose_as: "Firmware"
    name: 'MiniKeyboardFW_${CI_COMMIT_TAG}'
    paths:
      - firmware.uf2
    reports:
      dotenv: generate_executables.env
  rules:
    - if: $CI_COMMIT_TAG

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
  needs:
    - job: build_job
      artifacts: true
  script:
    - apk add curl jq
    - 'curl --header "PRIVATE-TOKEN: ${RELEASE_API_TOKEN}" "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/repository/changelog?version=${CI_COMMIT_TAG}" | jq -r .notes > release_notes.md'
  release:                               
    name: 'Release MiniKeyboard ${CI_COMMIT_TAG}'
    tag_name: '$CI_COMMIT_TAG'
    description: "release_notes.md"
    assets:
      links:
        - name: 'Firmware'
          url: 'https://git.schackmann.me/simon/minikeyboardv3-software/-/jobs/${GE_JOB_ID}/artifacts/file/firmware.uf2'